@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font:#222222;
}


li {

}

p {
    color: var(--font)
}

h1 {
    color: var(--font)
}

button  {
    background: #004E1B;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px 0px #0000000D;
    font-size: 18px;
    width: 220px;
    height: 49px;
}

button a  {
padding: 14px 13px 14px 13px;
}


.fit-mody li {
}